<br>
<br>
<br>
<br>
ƒh\
<

  <section class="wrapper">
    <div class="divider_border"></div>

    <div class="container">
      <div class="main_title">
        <h2><span>Events</span> Near You</h2>
        <p><span>Game,</span><span> Set,</span><span> Match</span></p>
      </div>
      <div class="well form-inline">
        <%= form_tag '/events', method: :get do %>
         
              <div class="form-group">
                <%= label_tag :title, "Search by title: " %>
                <%= text_field_tag :title, "", class: "form-control" %>
              </div>
           
          
              <div class="form-group">
                <%= label_tag :radius, "Radius: " %>
                <%= text_field_tag :radius, "", class: "form-control" %>
              </div>
        
            
              <div class="form-group">
                
                <%= submit_tag "Submit", class: "btn btn-default" %>
              </div>
         
     
          <% end %>
      </div>

      <div class="row">
        <% @a.each do |event| %>
       
        <div class="col-md-4 col-sm-6 wow fadeIn animated" data-wow-delay="0.2s">
          <div class="img_wrapper event-box">
            <div class="ribbon">
              <span>Popular</span>
            </div>
            <div class="price_grid">
              <sup>$</sup>
              <% if event["stats"]["lowest_price"].present?%>

                <%=event["stats"]["lowest_price"]%>
              <%end%>
            </div>
            <div class="img_container">
              <a href="/events/<%=event["id"]%>">
               <% if event["performers"][0]["image"].present? %>
               <div>
                <img src= "<%=event["performers"][0]["image"]%>"  width="800" height="533" class="img-responsive" alt="">
                </div>
              <% else %>
              <div>
                <img src= "/assets/coming_soon.png"  width="800" height="533" class="img-responsive" alt="">
                </div>
              <% end %>
                <div class="short_info">
                  <h3><%= event["title"] %></h3>
                  <h4> <%= event["datetime_local"]%> </h4>
                  <h5> Playing At: </h5>

                  <p>
                    <%=event["venue"]["name"] %> in
                    <%= event["venue"]["city"]  %>
                  </p>
                  <div class="score_wp">Superb
                    <div class="score">7.5</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- End img_wrapper -->
        </div>

        <% end %>

      </div>
      <!-- End row -->
     
    </div>
  </section>
