  

  <!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->

 <br>
<br>
<br>
<br>
<h1>the band is:</h1>
<%= @events["title"] %>
<div>
<br>
<br>
<br>
<%= @low["lowest_price"] %>
<br>
<br>
<br>
</div>

<%= form_tag "/bids", method: :post do %>
  <div>
    <%= label_tag :bid, "place your bid "   %>
    <%= text_field_tag :bid %>
  </div>
  <div>
    <% label_tag :event %>
    <%= hidden_field_tag :event_id, params[:id] %>
  </div>
  <div>
    <%= label_tag :lowest_price %>
    <%= hidden_field_tag :lowest_price, @low["lowest_price"] %>
  </div>
 
  <div>
  <%= submit_tag "Submit" %>
  </div>
  <% end %>
