  

  <!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
        <![endif]-->





  

  
  <!-- End Preload -->

  <!-- Header================================================== -->
  
  <!-- SubHeader =============================================== -->
  
  <section class="parallax_window_in" data-parallax="scroll" data-image-src="/assets/concert_default.jpg" data-natural-width="1400" data-natural-height="470">
    <div id="sub_content_in">
      <div id="animate_intro">
        <h1>Event info</h1>
        
      </div>
    </div>
  </section>
  
  
 

  <!-- End section -->
  <!-- End SubHeader ============================================ -->
<div class= "well">
  <section class="wrapper">
    <div class="divider_border"></div>

    <div class="container">

      <div class="row">
        <div class="col-md-9 add_bottom_15">
          <div class="bloglist singlepost">
            <div class="wow fadeIn">
              <div class="post-content">
                <div class="dropcaps">
                  <p>AGORA is your personal concert ticket concierge. We are here to help get you tickets to see the artists that you love, at your price. Fans spend far too much time and money buying tickets on the secondary market. Agora wants to help. All you have to do is tell us the price you want to pay and leave the buying to us. In return, we will find you a ticket, and leave the concert attending to you.</p>
                  </div>
                
              
                <p>We have built technology and partnered with brokers, ticket networks, and other sources to gain complete coverage over the secondary market so that we can access the best prices at all times. We are currently only providing services for GA concerts in the Bay Area, but plan to expand to other cities and markets soon.</p>
                <p>
                Through Agora, you have the choice to pay the current market price or set your own price by making an offer (your bid!) you can sit back, while we do all of the searching for you.
                          The moment we find a ticket matching your offer, we purchase it for you and send it your way. We also provide you with a list of other Agora users’ offers so that you have an idea of what the rest of your like-minded concert-going Agora family members thinks are fair prices.
                          Gone are the days of paying too much to see the bands that you love, spending too much time looking for tickets, and getting ripped off.
                          Agora is here to do all the heavy lifting for you and on your terms.
                          We hope you come along for what looks to be an exciting journey ahead.</p>
               

              </div>
              <!-- end post -->
              <div class="singlepost_title">
                <h4><%= @events["title"] %> - <%= @venue %> - <%= @city %></h4>
              </div>

              <% if @image.present? %>
                <img alt="" class="img-responsive img-thumbnail" src="<%=@image%>">
              <%else%>
                <img alt="" class="img-responsive img-thumbnail" src="/assets/coming_soon.png">
              <%end%>




            </div>
          </div>
          <!-- end single-post -->

     
          <!-- end blog-list -->
        </div>


        <aside id="sidebar" class="col-md-3">
          <div class="widget">
            <div class= "well">
              <h5> The Current buy now price is: <%= @low["lowest_price"] %> <h5>
              <%= form_tag "/bids", method: :post do %>
                <div>
                  <%= label_tag :bid, "place your bid "   %>
                  <%= text_field_tag :bid, "", class: "form-control" %>
                </div>
                <div>
                  <% label_tag :event %>
                  <%= hidden_field_tag :event_id, params[:id] %>
                </div>
                <div>
                  <%= hidden_field_tag :lowest_price, @low["lowest_price"] %>
                </div>
                <div>
                  <%= hidden_field_tag :event_title, @events["title"] %>
                </div>
                <br>
                <div>
                  <%= submit_tag "Submit", class: "btn_1" %>
                </div>
              <% end %>
            </div>
          </div>

          <!-- end widget -->


              </li>
            </ul>
            <!-- end blog list -->
          </div>
          <!-- end widget -->

          
          <!-- end widget -->
        </aside>
        <!-- end sidebar -->
      </div>
      <!-- end row -->
    </div>
    <!-- End container -->
  </section>
  <!-- End section -->

  
    <!-- end banner -->
  </div>
  <div class="row">
            

            
            <!-- End col-md-12-->
          </div>
  <!-- end container -->

  
        
        
    
  <!-- End Search Menu -->

  <!-- COMMON SCRIPTS -->

        


